# Module 3: Data Structures Assignments
## Lesson 3.1: Lists

In [1]:
### Assignment 1: Creating and Accessing Lists
#Create a list of the first 20 positive integers. Print the list.
positive_integers = list(range(1, 21))

print(positive_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# Assignment 2: Accessing List Elements
#Print the first, middle, and last elements of the list created in Assignment 1.
print(f"first element in assignment one is {positive_integers[0]}")
print(f"middle element in assignment one is {positive_integers[len(positive_integers) // 2]}")
print(f"last element in assignment one is {positive_integers[-1]}")

first element in assignment one is 1
middle element in assignment one is 11
last element in assignment one is 20

In [8]:
# Assignment 3: List Slicing
#Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.
print("First five elements:", positive_integers[:5])
print("Last five elements:",positive_integers[-5:])
print("elements from index 5 to 15 :",positive_integers[5:16])

First five elements: [1, 2, 3, 4, 5]
Last five elements: [16, 17, 18, 19, 20]
elements from index 5 to 15 : [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [9]:
 #Assignment 4: List Comprehensions
 #Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
positive_int = [i**2 for i in range(1, 11)]
print(positive_int)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Assignment 5: Filtering Lists
#Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.
positive_integers = list(range(1, 21))
even_numbers = [num for num in positive_integers if num % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
# Assignment 6: List Methods
#Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.
random_numbers = [5, 3, 8, 6, 3, 5, 9, 1, 8]
asc = sorted(random_numbers)
desc = sorted(random_numbers, reverse=True)
no_duplicates = list(set(random_numbers))
print("Ascending:", asc)
print("Descending:", desc)
print("Without duplicates:", no_duplicates)

Ascending: [1, 3, 3, 5, 5, 6, 8, 8, 9]
Descending: [9, 8, 8, 6, 5, 5, 3, 3, 1]
Without duplicates: [1, 3, 5, 6, 8, 9]

In [12]:
# Assignment 7: Nested Lists
#create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Matrix:")
for row in matrix:
    print(row)

print("Element at 2nd row, 3rd column:", matrix[1][2])

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at 2nd row, 3rd column: 6

In [13]:
### Assignment 8: List of Dictionaries
#Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

students = [
    {'name': 'Arbaaz', 'score': 85},
    {'name': 'Shruti', 'score': 92},
    {'name': 'Nikhil', 'score': 98}
]

sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted by score (desc):", sorted_students)

Sorted by score (desc): [{'name': 'Nikhil', 'score': 98}, {'name': 'Shruti', 'score': 92}, {'name': 'Arbaaz', 'score': 85}]

In [14]:
### Assignment 9: Matrix Transposition
#Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.
def transpose(matrix):
    return [[row[i] for row in matrix] for i in range(len(matrix[0]))]

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = transpose(matrix)
print("Original:", matrix)
print("Transposed:", transposed)

Original: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [15]:


### Assignment 10: Flattening a Nested List

#Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

def flatten(nested):
    return [item for sublist in nested for item in sublist]

nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = flatten(nested_list)

print("Original:", nested_list)
print("Flattened:", flat_list)

Original: [[1, 2], [3, 4], [5, 6]]
Flattened: [1, 2, 3, 4, 5, 6]

In [16]:


# Assignment 11: List Manipulation

#Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

nums = list(range(1, 11))
for i in sorted([2, 4, 6], reverse=True):
    del nums[i]
nums.insert(5, 99)
print("Modified list:", nums)

Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [17]:
### Assignment 12: List Zipping

#Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.
a = [1, 2, 3]
b = ['a', 'b', 'c']
zipped = list(zip(a, b))
print("Zipped list:", zipped)

Zipped list: [(1, 'a'), (2, 'b'), (3, 'c')]

In [18]:
### Assignment 13: List Reversal

#Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

def reverse_list(lst):
    return lst[::-1]

original = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original)

print("Original:", original)
print("Reversed:", reversed_list)

Original: [1, 2, 3, 4, 5]
Reversed: [5, 4, 3, 2, 1]

In [19]:
# Assignment 14: List Rotation

#Write a function that rotates a list by n positions. Print the original and rotated lists.
def rotate_list(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

original = [1, 2, 3, 4, 5]
rotated = rotate_list(original, 2)

print("Original:", original)
print("Rotated:", rotated)

Original: [1, 2, 3, 4, 5]
Rotated: [3, 4, 5, 1, 2]

In [20]:
### Assignment 15: List Intersection

#Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

def intersect_lists(a, b):
    return [item for item in a if item in b]

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

intersection = intersect_lists(list1, list2)
print("Intersection:", intersection)

Intersection: [3, 4]